<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Add Author</title>
</head>
<body>
    <h1>Add Author</h1>
    <form action="/authors/add-author" method="post">
        <p>Author Name: <input id="authorName" type="text" name="author_name" /></p>
        <p>Blog Title: <input id="blogTitle" type="text" name="blog_title" /></p>
        <button type="submit">Add Author</button>
    </form>
</body>
</html>